//COLORS
//Default colors
$white: #fff;
$black: #000;
//Accent colors
$red: #FF808B;
$aqua: #71D6F6;
$blue: #426CCE;
$grey: #F5F5FB;
$mint: #75E1C7;
$light-blue: #5d7ff4;
$night-blue: #7493FF;
$orange: #FFC443;
$light-green: #B0D47C;
$dark-green: #64bfb7;
$purple: #B76CE8;
$brown: #C79D81;
$green: #6ABC5B;
$ocean-blue: #5BE2EC;
$purple: #C37CD4;
$sea-blue: #67AFEE;
$border-color: #E2E2EF;
$text-color: #2C3165;
$title-color: #577cfc;